button {
    width: 49%;
    height: 29%;
    color:white;
  }

#tv {

  background-color: #b4eee4;
  border: #b4eee4;
}

#computer {
  background-color: #8dd8cc;
  border: #8dd8cc;
}

#appliance {
  background-color: #30bfbf;
  border: #30bfbf;
}

#light {
  background-color: #38a3b1;
  border: #38a3b1;
}

#nav {
  background-color: #0b7db3;
  border: #0b7db3;
}

#game {
  background-color: #195a97;
  border: #195a97;
}
label {
  font-size: 30px;
}

ion-icon {
  font-size: 50px;
}
