
  
  <ion-content>

      <ion-searchbar></ion-searchbar>

  <button ion-button float="right"  fill="clear" size="large" id="tv">
    <div>
      <div>
        <ion-icon name="tv"></ion-icon>
      </div>
      <label>TVs</label>
    </div>
  </button>

  <button ion-button float="right"  fill="clear" size="large" id="computer">
      <div>
        <div>
          <ion-icon name="laptop"></ion-icon>
        </div>
        <label>Computers</label>
      </div>
    </button>

    <button ion-button float="right"  fill="clear" size="large" id="appliance">
        <div>
          <div>
            <ion-icon name="outlet"></ion-icon>
          </div>
          <label>Appliances</label>
        </div>
      </button>


      <button ion-button float="right"  fill="clear" size="large" id="light">
          <div>
            <div>
              <ion-icon name="flashlight"></ion-icon>
            </div>
            <label>Lighting</label>
          </div>
        </button>

        <button ion-button float="right"  fill="clear" size="large" id="nav">
            <div>
              <div>
                <ion-icon name="map"></ion-icon>
              </div>
              <label>Navigation</label>
            </div>
          </button>

          <button ion-button float="right"  fill="clear" size="large" id="game">
              <div>
                <div>
                  <ion-icon name="logo-game-controller-b"></ion-icon>
                </div>
                <label>Gaming</label>
              </div>
            </button>

</ion-content>
